# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
out.txt

# R outputs
Rplots.pdf
*.png
*.csv
*.rds

# Model outputs
rfchydromodels/flow_*
rfchydromodels/output.*
rfchydromodels/restart_*
rfchydromodels/sac_states*

# Scratch / generated directories
rfchydromodels/saving_states_repo/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Working directories
Snow17SacUH/sample_model/

# Temporary Development Notes
LASTNEXT

# R junk
.Rproj.user
.Rhistory

# Mac junk
.DS_Store
py-rfchydromodels/.idea/

# example python csv and other files
py-rfchydromodels/EXAMPLE-*_Sim.csv
py-rfchydromodels/utilities/__pycache__/
